<% for message in @messages do %>
  <%= message %> <br />
<% end %>

<form method="POST" action="http://localhost:4567/messages">
  <input type="text" name="message" />
  <input type="submit" name="ok" />
</form>
